.search {
  width: 100%;
  display: flex;
  justify-content: center;
  --searchbar-color: #181b1c;
}

input[type='text'] {
  width: 90%;
  background-color: var(--clr-fg);
  border: 3px solid var(--searchbar-color);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--searchbar-color);
}

input[type='text']::placeholder {
  color: #555;
}

input[type='text']:focus {
  color: var(--searchbar-color);
}

.btn-search {
  width: 10%;
  border: 1px solid var(--searchbar-color);
  background: var(--searchbar-color);
  text-align: center;
  color: var(--clr-fg);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search:hover {
  background-color: var(--clr-fg);
  color: var(--searchbar-color);
}
