.background {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  height: 100vh;
  padding: 2%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  --clr-bg: #181b1c;
  --clr-bg-alt: #414141;
  --clr-fg: #f6f6f6;
  --clr-fg-alt: #f6f6f6;
  --clr-primary: #ffcb74;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
